<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.dutchaug.levelizer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".LevelizerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WhitelistActivity"
            android:label="@string/camera_whitelist"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_title"/>

        <activity-alias
            android:name=".OnboardingActivity"
            android:targetActivity=".activities.MainActivity"/>

        <service
            android:name=".services.CameraDetectionService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
        <service android:name=".services.LevelizerService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="360de4072a81372f1ef315f1854dab7cb020678f"/>

        <activity
            android:name=".activities.TestArrowActivity"
            android:label="Levelizer Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>